CREATE TABLE IF NOT EXISTS public.posts (
    id BIGSERIAL PRIMARY KEY,
    username TEXT NOT NULL,
    type TEXT NOT NULL,
    message TEXT NOT NULL,
    timestamp DOUBLE PRECISION NOT NULL
);

CREATE INDEX IF NOT EXISTS idx_posts_type_id ON public.posts (type, id DESC);
CREATE INDEX IF NOT EXISTS idx_posts_timestamp_id ON public.posts (timestamp DESC, id DESC);
